[KSplash Theme: ksplashx-suse]
Name = openSUSE 11.0
Description = Default openSUSE 11.0 Splash
Version = 1.0
Author = Jakub Steiner <jimmac@novell.com>
Homepage = http://www.novell.com
Engine = KSplashX
