[KSplash Theme: ksplashx-suse]
Name = openSUSE 11.2
Description = KDE openSUSE 11.2 Splash
Version = 1.0
Author = The Oxygen Project <kde-artists@kde.org>
#Homepage = http://plasma.kde.org
Engine = KSplashX
