[Desktop Entry]
Name=openSUSE 11.3

X-KDE-PluginInfo-Name=openSUSEdefault
X-KDE-PluginInfo-Author=Jakub Steiner
X-KDE-PluginInfo-Email=jimmac@gmail.com
X-KDE-PluginInfo-License=LGPLv3
