[Desktop Entry]
Name=Air openSUSE
Name[bg]=Въздух
Name[bn]=এয়ার
Name[bn_IN]=বাতাস
Name[cs]=Vzduch
Name[el]=Αέρας
Name[es]=Aire
Name[eu]=Airea
Name[gl]=Aire
Name[gu]=હવા
Name[he]=אוויר
Name[hr]=Zrak
Name[hu]=Levegő
Name[is]=Loft
Name[it]=Aria
Name[ja]=大気
Name[kk]=Ауа
Name[km]=ខ្យល់
Name[ko]=공기
Name[ku]=Hewa
Name[lt]=Oras
Name[lv]=Gaiss
Name[mk]=Небо
Name[ml]=എയര്‍
Name[nb]=Luft
Name[nds]=Luft
Name[nn]=Luft
Name[or]=ବାୟୁ
Name[pa]=ਏਅਰ
Name[pt_BR]=Ar
Name[ro]=Aer
Name[sk]=Vzduch
Name[sl]=Zrak
Name[sr]=Ваздух
Name[sr@latin]=Vazduh
Name[sv]=Luft
Name[tg]=Ҳаво
Name[uk]=Повітря
Name[x-test]=xxAirxx
Name[zh_CN]=空气

X-KDE-PluginInfo-Name=openSUSEdefault
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
